{% extends 'main/base.html' %}


{% block content %}

<div class="container">
    <br>
    <div class="card" id="backdrop">
        <div class="card-body">
            <div class="row">
                {% for game in games %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                                <img src="{{ game.image }}" alt="{{ game.name }}" class="img-fluid" width="75%">
                                <h3 class="text-center">{{ game.name }}</h3>

                                <i> {{ game.release_date }} </i>
                                <a href="{% url 'main:detail' game.id %}">Read More</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}